/*
 * common
 */
ul li {
	list-style: none;
	display: inline-block;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}


/*
 * header
 */
#header {
	border-bottom: 1px solid #ccc;
}
/*
 * footer
 */
#footer {
	border-top: 1px solid #ccc;
	margin-top: 20px;
}

.footer-link {
	text-align: center;
	margin: 5px;
	padding: 5px
}
/*
 * main
 */

.btn:hover {
	opacity: 0.8;
}

/*
media 
*/
@media screen and (max-width:767px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr
{ 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) 
	#no-more-tables tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 */
	#no-more-tables tr { border: 1px solid #ccc; }
 
	
 
	#no-more-tables th:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 40px; 
		white-space: nowrap;
		
		font-weight: bold;
	}

.table-head {
    background: #ebebeb;
    width: 100%!important;
    	
}
.tabledata
{
	
}
.dis-none
{
	display:none;
}
.review li {
    margin-right: 10px!important;
}
}
@media screen and (min-width:768px) {
	.dis-none-pc
	{
	display:none;
	}
}

/*
detail page
*/
h2>small {
	border-bottom: 2px solid #000000;
}

a : active {
	background-color: gold;
	!
	important;
}

.icon li {
	margin-right: 10px
}

.bg-red {
	background: #bc0404 !important;
}

.fw-bold {
	font-weight: bold;
}

.txt-white {
	color: #ffffff !important;
}

.panel {
	
}

.table-ttl {
	background: #ebebeb;
	font-weight: bold;
	padding: 10px;
	float: left;
	width: 20%;
}

.border {
	border: 1px solid #ebebeb;
	border-collapse: no-collapse;
}

.padding-none {
	padding: 0 !important;
}

.table-txt {
	padding: 10px;
	width: 80%;
	float: right;
}

.btn-weather {
	background: url(img/btn-weather.png)
}

.btn-golfbag {
	background: url(img/btn-golfbag.png)
}

.btn-hotel {
	background: url(img/btn-hotel.png)
}

.btn-car {
	background: url(img/golf-car.png)
}

.btn-like {
	border-left: 1px dotted #ebebeb;
}

.res_seofooter_top dd {
	width: 80%;
	margin: 0;
	float: right;
}

.res_seofooter_top dt {
	width: 20%;
	float: left;
}

ul.prefectures li {
	margin: 0 0 4px -5px;
	padding: 4px 18px 4px 14px;
	float: left;
	font-size: 12px;
	line-height: 13px;
	white-space: nowrap;
	border-left: solid 1px #cccccc;
	text-align: left;
}

ul.prefectures {
	margin-left: -1px;
	overflow: hidden;
	clear: both;
}

.res_seofooter_top ul {
	margin-bottom: 0;
	padding-bottom: 0;
}

ul.prefectures li.first {
	margin: 0 0 4px -5px;
	padding: 4px 22px;
	width: 15%;
	background: url(../golf_jp/mrk_seofooter_circle.gif) 3px 3px no-repeat;
	float: left;
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	white-space: nowrap;
}

.fullborder {
	border: 1px solid #000000;
}

.table-head {
	background: #ebebeb;
	width: 20%;
}
.tabledata
{
	
}
.rating
{
	font-weight: bold;
    color: #EB4055;
    font-size: 18px;
}
.review li img
{
	vertical-align:top;
}
.review li
{
	margin-right:20px;
}
.border-grey
{
	border:2px solid #cccccc;
}
.bg-grey
{
	background:#ebebeb;
}
.border-none
{
	border:none!important;
	box-shadow:none!important;
}
.bg-blue
{
	background:#f6ffff;
}
.btn-toogle
{
	background: url(../img/Button Add.png)!important;
	badkground-size:100%!important;
}
.btn-toogle img
{
vertical-align:middle!important;	
}
.borbot-grey
{
	border-bottom:2px solid #ebebeb;
}
.borbot-grey:last-child
{
	border-bottom:none;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 40px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 40px;
    right: 40px;
}
.page-top
{
	padding-bottom: 40px;
    margin-right: 40px;
}
.plan_calender {
   width:100%;
    border-left: #cfcfcf 1px solid;
    border-right: 1px solid #cfcfcf;
}
.plan_calender td.sat {
    background: #dbefff;
    position: relative;
}
.plan_calender td.sun {
    background: #ffdbdb;
    position: relative;
}
.plan_calender tbody td.plan_calender_price {
    width: 4em;
    padding: 3px;
    border-bottom: #cfcfcf 1px solid;
    white-space: nowrap;
    text-align: right;
    color: #e94057;
    position: relative;
    font-size: 1.2em;
}
.plan_calender tbody td.plan_calender_icon {
    width: 104px;
    padding: 3px 1px 3px 3px;
    white-space: nowrap;
    border-bottom: #cfcfcf 1px solid;
    _position: relative;
}
.plan_calender tbody .odd td.gray {
    background: #d8d8ad;
    _position: relative;
    border-bottom: #cfcfcf 1px solid;
}
.plan_calender tbody td.plan_calender_price span {
    color: #666;
    display: block;
    font-size: .8em;
}
.plan_calender tbody td.plan_calender_icon img {
    float: left;
    margin-right: 2px;
}
.planName a
{
color:#000000;
}
.prefectures li a
{
	color:#000000;
}
.cal_day02 {
    background: url(../img/bg_fff_e6e_h50.png) repeat-x left top #CCC;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCC)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCC) repeat scroll 0 0 transparent;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    opacity: .50;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: .50;
    -moz-opacity: .50;
    
}
.cal_sun02 {
    background: url(../img/bg_fff_ffe_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#FFDDDD)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #FFDDDD) repeat scroll 0 0 transparent;
    border-left: 1px solid #FFDDDD;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #BB0000;
    opacity: .50;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: .50;
    -moz-opacity: .50;
   
}
.cal_sat03 a {
    color: #0066CC;
    text-decoration: underline;
    display: block;
}
.cal_day01 {
    background: url(../img/bg_fff_ccb_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCBBAA)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCBBAA) repeat scroll 0 0 transparent;
    border-top: 1px solid #CCBBAA;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #CCBBAA;
}
cal_sat02 {
    background: url(../img/bg_fff_e6f_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCEEFF)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCEEFF) repeat scroll 0 0 transparent;
    border-right: 1px solid #CCEEFF;
    border-bottom: 1px solid #FFF;
    color: #0066CC;
    opacity: .50;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: .50;
    -moz-opacity: .50;
    
}
.cal_sat01 {
    background: url(../img/bg_fff_ccb_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCBBAA)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCBBAA) repeat scroll 0 0 transparent;
    border-top: 1px solid #CCBBAA;
    border-right: 1px solid #CCBBAA;
    border-bottom: 1px solid #CCBBAA;
    color: #0066CC;
}
.cal_sun01 {
    background: url(../img/bg_fff_ccb_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCBBAA)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCBBAA) repeat scroll 0 0 transparent;
    border-top: 1px solid #CCBBAA;
    border-left: 1px solid #CCBBAA;
    border-right: 1px solid #FFF;
    color: #BB0000;
    
}
.cal_day02 {
    background: url(../img/bg_fff_e6e_h50.png) repeat-x left top #CCC!important;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCC)) repeat scroll 0 0 transparent!important;
    background: -moz-linear-gradient(center top, #FFF, #CCC) repeat scroll 0 0 transparent!important;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    opacity: .50;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: .50;
    -moz-opacity: .50;
}
.cal_day03 {
    background: url(../img/bg_fff_cdc_h50.png) repeat-x left top #CCC;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCC)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCC) repeat scroll 0 0 transparent;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    text-decoration: underline;
    
}
.cal_hol02 {
    background: url(../img/bg_fff_cdc_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#FFDDDD)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #FFDDDD) repeat scroll 0 0 transparent;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #BB0000;
    text-decoration: underline;
} 
.cal_sun03 {
    background: url(../img/bg_fff_ffd_h50.png) repeat-x left top #ffcda0;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#FFDDDD)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #FFDDDD) repeat scroll 0 0 transparent;
    border-left: 1px solid #FFDDDD;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #BB0000;
    text-decoration: underline;
    
}
.cal_sat03 {
    background: url(../img/bg_fff_cde_h50.png) repeat-x left top #CCEEFF;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFF), color-stop(20%, #FFF), to(#CCEEFF)) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top, #FFF, #CCEEFF) repeat scroll 0 0 transparent;
    border-right: 1px solid #CCEEFF;
    border-bottom: 1px solid #FFF;
    color: #0066CC;
    text-decoration: underline;
   
}
.btn-facebook

{
	background:#3B5998!important;	
}
.btn-twitter
{
	background:#55ACEE!important;
}
.btn-google
{
background:#DD4B39!important;	
}
.btn-yahoo
{
	
	background:#720E9E!important;
}
.btn-social-icon
{
	color:#ffffff!important;
	margin-right:15px;
}